<mat-toolbar >
    <mat-toolbar-row fxFlex= "100%" fxLayoutGap="20px" style= "margin-top:10px">
      <img src = "../assets/images/analysis.svg"  width = "60px" height = "50px" style = "padding-left:30px;color:green" />
      <span class = "toolbar color">SALES FORECASTING USING ARIMA</span>
    </mat-toolbar-row>
    </mat-toolbar>
<div class="container-fluid filter" style = "margin-top:10px">
    <app-filter (filterChange)="applyChange($event)"></app-filter>
    <hr>
    <app-report *ngIf="filterData" [filterData]="filterData"></app-report>
</div>